/* Global Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	--header1: 2rem;
	--header2: 1.5rem;
	--header3: 1.2rem;
	--header4: 1rem;
	--text: 2rem;
}

h1 {
	font-size: var(--header1);
}

h2 {
	font-size: var(--header2);
}

h3 {
	font-size: var(--header3);
}

h4,
h5,
h6 {
	font-size: var(--header4);
}

li,
button,
label,
input,
p,
a {
	font-size: var(--text);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

.logo img {
	width: 30%;
}

.main-head {
	background-color: black;
}

nav {
	display: flex;
	min-height: 10vh;
	width: 90%;
	margin: auto;
	align-items: center;
	background-position: center;
	background-size: cover;
}

ul {
	display: flex;
}

.logo {
	flex: 1 1 20rem;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	flex: 1 1 20rem;
}

.hero {
	min-height: 90vh;
	background-color: black;
}

.video-wrapper {
	width: 100%;
	height: 90vh;
}

video {
	object-fit: cover;
}

.video-container {
	position: relative;
	width: 100%;
	height: 100%;
	background-attachment: scroll;
	overflow: hidden;
}
.video-container video {
	min-width: 100%;
	min-height: 100%;
	position: relative;
	z-index: 1;
}
.video-container .overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	background: black;
	opacity: 0.2;
}

.welcome {
	background-color: black;
	color: white;
	height: 100vh;
}
